#main-container {
    width: 200px;
}

.title {
    text-align: center;
}

#input-container {
    text-align: center;
}

input[type='checkbox'] {
    float: left;
}

li {
    clear: both;
}

.delete {
    float: right;
}
