body {
  background-color: #FCF2CD;
}

#main-container {
  margin: auto;
  width: 400px;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFFADE;
  font-size: 22px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.title {
  text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#input-container {
  text-align: center;
}

#input-field {
  height: 38px;
  width: 338px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #B9C19A;
  padding: 5px;
  background-color: #FCF2CD;
  font-size: 24px;
}

#input-field:focus {
  outline-style: none;
}

#input-field::-webkit-input-placeholder {
  text-align: center;
  color: #B9C19A;
}

#input-field::-moz-placeholder {
  text-align: center;
}

#input-field:-moz-placeholder {
  text-align: center;
}

#input-field:-ms-input-placeholder { 
  text-align: center;
}

#add-item {
  height: 38px;
  width: 38px;
  vertical-align: bottom;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #B9C19A;
  background-color: #E0E8B4;
  font-size: 22px; 
}
#add-item:focus {
  outline-style: none;
}

input[type='checkbox'] {
  float: left;
}

#list-container {
}

li {
  clear: both;
  padding: 5px 0;
}

.item {
  padding-left: 5px;
}

.delete {
  float: right;
  border-radius: 5px;
  border: 2px solid red;
  background-color: #F2636A;
}

.checked {
  text-decoration: line-through;
}

#delete-window {
  visibility: hidden;
  position: fixed;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
}

/* #delete-window:target {
  -webkit-transiton: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  opactiy: 1;
  pointer-events: auto;
}
*/

#modal-content {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius:l 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: o-linear-gradient(#fff, #999);
}
